.axis path,
.axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.x.axis path
.y.axis path
  display: none

.y.axis line
  stroke: #777
  stroke-dasharray: 2,2

.line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px

.green.line
  stroke: green

.mouse-line
  stroke: grey
  stroke-width: 1.5px
  opacity: 0.5

.focus text
  color: red
  border-radius: 2px

.focus circle
  fill: steelblue
